<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/demo.js"></script>



</head>
<body>
    {{>header}}

This app was created by {{name}} using weatherstack API


{{>footer}}
</body>

</html>