<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/demo.js"></script>



</head>
<body>
    {{>header}}


<h2>hello from {{name}}</h2>


{{>footer}}
</body>

</html>