<!DOCTYPE html>

<html>
<head>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/demo.js" ></script>

</head>
<body>
 {{>header}}

 <p>Contact Armitron at:-</p>
            <p class="help">
                <a href="https://twitter.com/Arm8tron">Twitter</a> 
            <br>
            <a href="https://www.facebook.com/anirudh.makuluri/">Facebook</a>
            </p>

{{>footer}}
</body>

</html>