<!DOCTYPE html>
<html>
<head>

    <title>Weather</title>
<link rel="stylesheet" href="/css/style.css">
<link rel="icon" href="/img/cloud.png"
    

</head>
<body>
     {{>header}}

Check your city weather!
<form>
    <input placeholder="City">
    <button>submit</button>


    <p id='message-1'></p>
    <p id='message-2'></p>
    <p id='message-3'></p>
    <p id='message-4'></p>

</form>
{{>footer}}
<script src="/js/demo.js"></script>
</body>

</html>